*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    display: grid;
    height:100vh;
    width: 100vw;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 150px 3fr;
    font-family: monospace;
    background: firebrick;
    gap:2px;
}

/* Sidebar Styling */
.sidebar{
    background-color: rgb(23, 18, 42);
    grid-column: 1;
    grid-row: 1/3;
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 30px 200px 250px;
    column-gap: 12px;
    row-gap: 48px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
.sidebar ul{
    line-height: 1;
}
.sidebar li{
    list-style-type: none;
    margin-bottom: 15px;
}
.sidebar p{
    font-size: 1.5rem;
}
.dashboard-logo:hover, .dashboard-text:hover{
    color:firebrick;
    cursor: pointer;
}
.sidebar ul li:hover{
    transition: 200ms;
    color:firebrick;
    transform: scale(1.03);
    cursor: pointer;
}

/* Header Styling */
.header{
    background-color: rgb(23, 18, 42);
    color:white;
    grid-column: 2/3;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
}
/* Header Top */
.header .header-top img{
    width:35px;
    border-radius: 50%;
}
.header .header-top{
    padding-top:20px;
    display: flex;
}
.header .header-top .icon{
    align-self: center;
    font-size: 18px;
}
.header .header-top .search-icon{
    margin-left: 45px;
    margin-right: 20px;
}
.header .header-top .bell-icon{
    margin-right: 10px;
    cursor: pointer;
}
.header .header-top .name{
    font-size: 16px;
    font-weight: bold;
    align-self: center;
    margin-left:15px;
    margin-right:10px;
}
.header .header-top .profile{
    margin: 0 10px;
}
.header .header-top .search{
    width:550px;
    border-radius: 20px;
    padding-left: 10px;
    margin-right: 105px;
    box-shadow: none;
    border: none;
    background-color: maroon;
    color:white;
}

/* Header Bottom */
.header .header-bottom{
    display: flex;
    margin:15px;
    margin-top: 25px;
    align-items: center;
}
.header .header-bottom img{
    width: 55px;
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 15px;
}
.header .header-bottom .btns{
    padding-top: 8px;
    margin-left: auto;
    margin-right: 3vw;
}
.header .header-bottom .btns button{
    background-color: maroon;
    color:white;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 6px;
    width:85px;
    height:32px;
    margin-left:3px;
    text-align: center;
    border-radius: 16px;
    transition: 300ms;
}
.header .header-bottom .btns button:hover{
    background-color: firebrick;
    cursor: pointer;
    color:white;
    transform: scale(1.03);
}


/* Main-Content Styling */
.main-content{
    /* background-color: rgb(179, 193, 208); */
    background-color: rgb(34, 31, 48);
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70% 30%;
    padding: 15px;
}

.main-content .main-left{
    display: grid;
    grid-template-rows: 30px 1fr;
}
.main-content .main-left .project{
    color: white;
}
.main-content .main-left .cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:15px
}
.main-content .main-left .cards .card{
    background-color: rgb(24, 21, 42);
    border-radius: 8px;
    border-left: 8px firebrick solid;
    box-shadow: 1px 3px black;
}